      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-offcanvas" data-canvas="body">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="/">Track My Mixes</a>
      </div>
      <div class="navbar-offcanvas offcanvas navmenu-fixed-left pull-right">
        <a class="navmenu-brand" href="/">Track My Mixes</a>
          <ul class="nav navbar-nav">
            <%= nav_link "Home",    root_path %>
            <%= nav_link "Help",    help_path %>
            <%= nav_link "Sign In",    '#' %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

