<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>
  <body>
    <div class="container">
<%= render 'layouts/navigation' %>
<%= yield %>
<%= render 'layouts/social' %>
    </div>
  </body>
</html>
